@page "/"
@using PaceMe.BlazorApp.Services
@using PaceMe.BlazorApp.Model
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using PaceMe.BlazorApp.Utilities
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ITrainingPlanService _trainingPlanService
@inject ITrainingPlanActivityService _trainingPlanActivityService
@inject ITrainingPlanActivitySegmentService _segmentService

<AuthorizeView>
    <Authorized>
        <Loading IsLoading="_loading">
            @if(_nextActivity != null)
            {
                <div class="flex-wrapper">

                    <div class="card">
                        <h2>@_nextActivity.Name</h2>
                        <h3>@TimeFormatter.SecondsToTime(_nextActivitySegments.Sum(x => x.DurationSeconds)) Total</h3>
                        <p>@_nextActivity.DateTime.Date.ToString("yyyy-MM-dd") | @QuickTimeTilNextActivity()</p>
                        @if(_nextActivity.DateTime.Date == DateTime.Now.Date){
                            <button class="button block-button" @onclick="@(e => CompleteNextActivity())">Complete</button>
                        }
                        <NavLink class="button button-outline block-button" href='@($"/trainingplan/{_nextActivity.TrainingPlanId}/activity/{_nextActivity.TrainingPlanActivityId}")'>Detail</NavLink>
                    </div>
                </div>
            }
            else
            {
                <span>No activities scheduled</span>
            }
        </Loading>
    </Authorized>
    <NotAuthorized>
        <span>Login to view activities</span>
    </NotAuthorized>
</AuthorizeView>
    
@code {
    private TrainingPlanActivity _nextActivity = null;
    private bool _loading = true;
    private IEnumerable<TrainingPlanActivitySegment> _nextActivitySegments = new List<TrainingPlanActivitySegment>();
    private ClaimsPrincipal _user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        
        if(authState.User.Identity.IsAuthenticated)
        {
            _user = authState.User;
            await GetNextActivity();
        }
    }

    private async Task GetNextActivity()
    {
        _loading = true;
        string userId = _user.GetMsalUserId();
        var trainingplans = await _trainingPlanService.GetTrainingPlans(userId);
        var activities = new List<TrainingPlanActivity>();
        foreach(var plan in trainingplans.Where(x => x.Active))
        {
            activities.AddRange(await _trainingPlanActivityService.GetTrainingPlanActivities(userId, plan.TrainingPlanId));
        }
        _nextActivity = activities
            .Where(x => !x.Completed && x.DateTime.Date >= DateTime.Now.Date)
            .OrderBy(x => x.DateTime)
            .FirstOrDefault();
        if(_nextActivity != null){
            _nextActivitySegments = await _segmentService.GetTrainingPlanActivitySegments(userId, _nextActivity.TrainingPlanId, _nextActivity.TrainingPlanActivityId);
        }
        _loading = false;
    }

    private async Task CompleteNextActivity()
    {
        _nextActivity.Completed = true;
        await _trainingPlanActivityService.UpdateTrainingPlanActivity(_user.GetMsalUserId(), _nextActivity.TrainingPlanId, _nextActivity);
        await GetNextActivity();
    }

    private string QuickTimeTilNextActivity(){
        if(_nextActivity == null){
            return null;
        }
        double daysTilNext = (_nextActivity.DateTime.Date - DateTime.Now.Date).TotalDays;
        switch(daysTilNext)
        {
            case 0:
                return "Today";
            case 1:
                return "Tomorrow";
            default: 
                return $"{daysTilNext} days";
        }

    }
}
